<div class="container mx-auto py-10">
  <div class="p-4 w-full lg:w-1/2 mx-auto">
    <h1 class="text-4xl font-bold text-center">
      Next Christmas in
    </h1>
    <div class="flex justify-between w-full mt-10">
      <div class="text-center">
        <p class="text-3xl md:text-5xl">
          <span id="days">00</span>
        </p>
        <span class="text-semibold">Days</span>
      </div>
      <div class="text-center">
        <p class="text-3xl md:text-5xl">
          <span id="hours">00</span>
        </p>
        <span class="text-semibold">Hours</span>
      </div>
      <div class="text-center">
        <p class="text-3xl md:text-5xl">
          <span id="minutes">00</span>
        </p>
        <span class="text-semibold">Minutes</span>
      </div>
      <div class="text-center">
        <p class="text-3xl md:text-5xl">
          <span id="seconds">00</span>
        </p>
        <span class="text-semibold">Seconds</span>
      </div>
    </div>
  </div>
</div>